
/* styling fonts, backgrounds, and image header */
.title1 { font-family: Lato; font-size: 72px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 85px;
 text-align:center;
padding-top: 40px;;
}

  
.header{
   background-color:rgb(50,54,46);
    }
 

.header img{
  width:100%
}

body{
  background-color:rgb(243, 237, 229);
}

figcaption{
  font-family: Lato; 
  margin:auto;
color:  rgb(55,34,19);
width: 65%;
}

 .id{
   text-align:center;
   color: rgb(78, 48, 26);
   font-family:Lato;
   font-size: 25px;
 }

h1{
color: rgb(219, 173, 102)
}

.p{
  max-width: 65%;
  margin: 0 auto;
  
font-family: Lato; font-size: 19px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 27px;
color:  rgb(55,34,19);
}

a{
  text-decoration: none;
}



/*image grid */

.genre{
  

  top: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  justify-items:center;
  margin:0;
  padding:0;
}
figure{
  padding: 10px;
  text-align: center;

}

img{
  max-width:100%;
  height:auto;
  object-fit:cover;
  
}

/* click image links */
figure:hover {
  transform: scale(1.1);
  
}

figure:hover > figcaption {
    transform: scale(0.9)
}

